.header_section{
    height:600px;
    background-color: #FFF9F4;
}

/* nav-section */
.nav_section a{
   color:  #3C3C3C;
   font-family: Roboto;
   font-style: normal;
   font-weight: 550;
   font-size: 16px;
   line-height: 24px;
   

}
.nike{
    padding-left:110px;
}
.nike_react{
    font-family: Bebas Neue;

font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 70px;

color: #FA804C;

}
.infinity{
   font-family: Bebas Neue; 
  font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 50px;

color: #363958;
}
.buy_button{
width: 130px;
height: 50px;
left: 853.68px;
top: 424px;

background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
border-radius: 10px;

}
.casual_color{
    color: #363958;
    font-weight: bold;
    font-weight: 20px;

}
.p_color{
    color:#3E3E3E;
}
.shadow_color{
   box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.06);
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 10px 0 rgba(0, 0, 0, 0.10); */

}
.img_color{
    background-color: rgb(227, 227, 240);
    border-radius: 15px;

}
.shoes_card{
    border:none;
    border-radius: 15px;
}
.bor{
    border:none;
    border-radius: 15px;
}
.dollar{
    color: #FA804C;
    font-weight: bold;
}
.last_sec{
    background-color: #FFF9F4;
    margin-top:50px;
    padding:50px;
    margin-bottom:50px;
}
.input{
    border:none;
    border-radius: 15px;
    background-color: #d5dfeb;
}



















 





